body {
    background-image: url("../img/background.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #25072e;
    /* background: url("../img/background.svg") no-repeat center center fixed; */
    color:#888089;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}
.button {
    font-family: Helvetica;
    font-weight: semibold;
    font-size: 12px;
    letter-spacing: 1.6px;
    background-color: rgba(204, 200, 255, 0.10);
    border-style: hidden;
    border: 1px solid rgba(204, 200, 255, 0.10);
    color: rgba(204, 200, 255, 0.8);
    text-transform: uppercase;
    cursor: pointer;
}
.button:active{
    font-family: Helvetica;
    font-weight: semibold;
    font-size: 12px;
    letter-spacing: 1.6px;
    background-color: rgba(204, 200, 255, 0.3);
    border: 1px solid rgba(204, 200, 255, 0.10);
    color: rgba(204, 200, 255, 0.8);
    text-transform: uppercase;
}
.button:disabled{
    font-family: Helvetica;
    font-weight: semibold;
    font-size: 12px;
    letter-spacing: 1.6px;
    background-color: rgba(204, 200, 255, 0.10);
    border: 1px solid rgba(204, 200, 255, 0.10);
    color: rgba(204, 200, 255, 0.5);
    text-transform: uppercase;
}
.button:hover{
    font-family: Helvetica;
    font-weight: semibold;
    font-size: 12px;
    letter-spacing: 1.6px;
    background-color: rgba(204, 200, 255, 0.3);
    border: 1px solid rgba(204, 200, 255, 0.10);
    color: rgba(204, 200, 255, 0.8);
    text-transform: uppercase;
}
.button:focus{
    font-family: Helvetica;
    font-weight: semibold;
    font-size: 12px;
    letter-spacing: 1.6px;
    background-color: rgba(204, 200, 255, 0.10);
    border: 1px solid rgba(204, 200, 255, 0.10);
    color: rgba(204, 200, 255, 0.8);
    text-transform: uppercase;
}
.page-header {
    position: fixed;
}
.page-logo {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 4.5px;
    margin: 20px;
    text-align: right;
    position: fixed;
}
.page-navigation {
    margin:20px;
    position: fixed;
    z-index: 1;
    top: 0; 
    left: 0;
}
.page-navigation__items {
    list-style-type: none;
    margin: 20px;
    margin-top: 80px;
    padding: 0;
    color: #ec008c;
}
.page-navitagion__item {
    font-family: Helvetica;
    font-size: 13px;
    letter-spacing: 6.7px;
    text-transform: uppercase;
    color: #ec008c;
    text-decoration: none;
    text-decoration-color: #ec008c;
    font-weight: bold;
}
.page-navitagion__item a{
    font-family: Helvetica;
    font-size: 13px;
    letter-spacing: 6.7px;
    text-transform: uppercase;
    color: rgba(236, 0, 140, 0.6);
    text-decoration: none;
    text-decoration-color: (236, 0, 140, 1);
    font-weight: bold;
}
.page-navitagion__item a:active {
    font-family: Helvetica;
    font-size: 13px;
    letter-spacing: 6.7px;
    text-transform: uppercase;
    color:rgba(236, 0, 140, 1);
    text-decoration: none;
    font-weight: bold;
}
.page-navitagion__item a:disabled {
    font-family: OpenSans;
    font-size: 13px;
    letter-spacing: 6.7px;
    text-transform: uppercase;
    color:rgba(236, 0, 140, 0.4);
    text-decoration: none;
    font-weight: bold;
}
.page-navitagion__item a:hover {
    font-family: Helvetica;
    font-size: 13px;
    letter-spacing: 6.7px;
    text-transform: uppercase;
    color:rgba(236, 0, 140, 1);
    text-decoration: none;
    font-weight: bold;
}
.page-navitagion__item a:visited {
    font-family: Helvetica;
    font-size: 13px;
    letter-spacing: 6.7px;
    text-transform: uppercase;
    color:rgba(236, 0, 140, 0.6);
    text-decoration: none;
    font-weight: bold;
}
.content-section {
    /* width: 100vw; */
    max-width: 100vw;
    min-height: 100vh;
    padding-left: 20vw;
    padding-right: 10vw;
}
.content-section__header {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    text-align: right;
    margin-top: 40px;
    color:#ec008c;
} 
#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.band-members {
    list-style-type: none;
    display:flex;  
    list-style:none;
}
.band-members__image {
    filter: brightness(50%);
}
.band-members__image:hover {
    filter: brightness(100%);
}
.band-members__name {
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    text-align: left;
    color: rgba(204, 200, 255, 1);
}
.band-members__name:hover {
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    text-align: left;
    color: rgba(204, 200, 255, 1);
}
.band-members__desc {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    letter-spacing: 3.5px;
    text-align: left;
    color:  rgba(204, 200, 255, 0.5);
    margin-right: 20px;
}
.band-members__desc:hover {
    font-family: 'OpenSans', sans-serif;
    font-size: 13px;
    letter-spacing: 3.5px;
    text-align: left;
    color:  rgba(204, 200, 255, 0.5);
    margin-right: 20px;
}
.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.about-section__desc {
    padding: 30px;
    padding-top: 20px;
    width:25vw;
    z-index: 1;
    background-color: rgb(36, 6, 45);
    border-bottom: 3px solid rgba(236, 0, 140, 1);
    box-sizing: border-box;
    position: relative;
    bottom: 17vw;
    right: 45vw;
    /* bottom: 245px;
    : 690px; */
    
}
.about-section__desc-header{
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    text-align: left;
    color: rgba(204, 200, 255, 1);
}
.about-section__desc-paragraph {
    font-size: 13px;
    letter-spacing: 3.5px;
    text-align: left;
    background: #25072e;
}
.about-section__image{
    width: 780px;
    height: 510px;
    border-top: 3px solid rgba(236, 0, 140, 1);
}
#video {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
iframe {
    border-top: 3px solid rgba(236, 0, 140, 1);
}
#concerts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.concerts{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.concerts__item {
    display: inline-block;
    margin: 0 0 50px 50px;
}
.concerts__image {
    border-bottom: 3px solid rgba(236, 0, 140, 1);
    width: 360px;
    height: 240px;
}
.concerts__date {
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    text-align: left;
    color: rgba(204, 200, 255, 1);
}
.concerts__location {
    font-family: OpenSans;
    font-size: 13px;
    letter-spacing: 3.5px;
    text-align: left;
    color: rgba(204, 200, 255, 0.5);
}
#photos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
    /* margin-left: 0; */
    border-left: none;
    list-style:none;
    min-width: 1000px;
}
.gallery__item{
    margin: 0 0 20px 20px;
}
.gallery__image {
    width: 300px;
    height: 200px;
    border-top: 3px solid rgba(236, 0, 140, 1);
}
#contact {

}
.contact__image {
    width: 465px;
    height: 310px;
    margin: 0 80px 0 0;
}
.contact-section__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-section__row {
    display: flex;
    
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.content-section__address {
    display:inline-block;
    font-size: 13px;
    font-style: normal;
    letter-spacing: 1.5px;
    color:rgba(204, 200, 255, 0.8);
}
.form__label {
    font-size: 13px;
    letter-spacing: 1.5px;
    color:rgba(204, 200, 255, 0.8);
    margin: 15px 0 0 0;
}
.form__input {
    background-color: rgba(204, 200, 255, 0.1);
    border-color: rgba(204, 200, 255, 0.1);
    padding: 12px 10px 10px 10px;
    border: 1px solid rgba(204, 200, 255, 0.1);
    border-radius: 3px;
    margin: 15px 0 0 0;
}
.contact__button 
{
    margin: 25px 0 0 0;
}
.page-footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}
.social-links {
    display: block;
    list-style-type: none;
}
.screen-reader-only {
    display: none; 
}